* {
    margin: 0;
    padding: 0;
}
.cabecalho{
    text-align: center;
    background: cadetblue;
    height: 100px;
    padding-top: 10px;
}
body{
    background: #a3ccd8;
}
.fim{
    text-align: center;
    margin-top: 20px;
 
}
#logo{
    
    padding-top: 2px;
   
}
a{
    text-decoration: none;
    
}
a:link, :visited{
    color: white;
   
}
a:hover{
    background: white;
    color: cadetblue;
}
a:active{
    color: black;
}